#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

choice
	prompt "Select target application"

config U1_AP
	bool "U1 AP"

config U1_CK
	bool "U1 CK"

config U1_CP
	bool "U1 CP"

config U1_SP
	bool "U1 SP"

config U1_FVP
	bool "U1 FVP"

config U1_SIM
	bool "U1 SIM"

endchoice
