CONFIG_ALARM_ARCH=y
CONFIG_ARCH_BOARD="song/u2"
CONFIG_ARCH_BOARD_SONG=y
CONFIG_ARCH_BOARD_U2=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_CHIP_U2_AUDIO=y
CONFIG_ARCH_HIPRI_INTERRUPT=y
CONFIG_ARCH="risc-v"
CONFIG_ARCH_RISCV_SONG=y
CONFIG_ARCH_RISCV=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_BOARDCTL_FINALINIT=y
CONFIG_BOARDCTL_RESET=y
CONFIG_BOOT_RUNFROMISRAM=y
CONFIG_BUILTIN=y
CONFIG_CLK_RPMSG=y
CONFIG_CLK=y
CONFIG_CLOCK_MONOTONIC=y
# CONFIG_DEV_NULL is not set
CONFIG_DMA=y
CONFIG_FS_PROCFS=y
CONFIG_FS_ROMFS=y
CONFIG_INTC_DW_BASE=0xa0010000
CONFIG_IRQCHAIN=y
CONFIG_MBOX=y
CONFIG_MEMSET_OPTSPEED=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_ARCHROMFS=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_LINELEN=128
CONFIG_NSH_PROMPT_STRING="audio> "
CONFIG_NSH_READLINE=y
CONFIG_NSH_ROMFSETC=y
CONFIG_ONESHOT_SONG=y
CONFIG_ONESHOT=y
CONFIG_OPENAMP=y
CONFIG_PM=y
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_RPMSG_UART=y
CONFIG_RPTUN=y
CONFIG_RV32IM_HW_MULDIV=y
CONFIG_SCHED_CHILD_STATUS=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_IRQMONITOR=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL_IFLOWCONTROL_WATERMARKS=y
CONFIG_SERIAL_TERMIOS=y
CONFIG_SIG_DEFAULT=y
CONFIG_SONG_CLK=y
CONFIG_SONG_DMAG=y
CONFIG_SONG_DMAS=y
CONFIG_SONG_MBOX=y
CONFIG_SONG_NR_IRQS=24
CONFIG_SONG_RPTUN=y
CONFIG_SYSLOG_BUFFER=y
CONFIG_SYSLOG_CHARDEV=y
CONFIG_SYSLOG_PREFIX_STRING="audio: "
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_TIME64=y
CONFIG_SYSTEM_ZMODEM_MOUNTPOINT="/data"
CONFIG_SYSTEM_ZMODEM=y
CONFIG_TTY_SIGINT=y
CONFIG_U2_AUDIO=y
CONFIG_USER_ENTRYPOINT="nsh_main"
