CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_SERIAL_DISABLE_REORDERING=y
CONFIG_16550_UART3_BASE=0xf900b000
CONFIG_16550_UART3_CLOCK=1843200
CONFIG_16550_UART3_IRQ=23
CONFIG_16550_UART3_RXBUFSIZE=512
CONFIG_16550_UART3_SERIAL_CONSOLE=y
CONFIG_16550_UART3=y
CONFIG_16550_UART=y
CONFIG_ALARM_ARCH=y
CONFIG_ARCH_BOARD="song/u2"
CONFIG_ARCH_BOARD_SONG=y
CONFIG_ARCH_BOARD_U2=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_CHIP_U2_RI5CY=y
CONFIG_ARCH="risc-v"
CONFIG_ARCH_RISCV_SONG=y
CONFIG_ARCH_RISCV=y
CONFIG_BOOT_RUNFROMISRAM=y
CONFIG_EXAMPLES_HELLO=y
CONFIG_ONESHOT_SONG=y
CONFIG_ONESHOT=y
CONFIG_RAW_BINARY=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_SONG_NR_IRQS=30
CONFIG_USER_ENTRYPOINT="hello_main"
