CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_SERIAL_DISABLE_REORDERING=y
CONFIG_16550_SUPRESS_INITIAL_CONFIG=y
CONFIG_16550_UART0_BASE=0xa0150000
CONFIG_16550_UART0_BAUD=921600
CONFIG_16550_UART0_CLOCK=14745600
CONFIG_16550_UART0_CLOCK_NAME="uart0_clk"
CONFIG_16550_UART0_DMA_RX=12
CONFIG_16550_UART0_DMA_TX=4
CONFIG_16550_UART0_DMA=y
CONFIG_16550_UART0_IRQ=24
CONFIG_16550_UART0_RXBUFSIZE=512
CONFIG_16550_UART0_SERIAL_CONSOLE=y
CONFIG_16550_UART0=y
CONFIG_16550_UART1_BASE=0xa0160000
CONFIG_16550_UART1_CLOCK=1843200
CONFIG_16550_UART1_CLOCK_NAME="uart1_clk"
CONFIG_16550_UART1_DMA_RX=13
CONFIG_16550_UART1_DMA_TX=5
CONFIG_16550_UART1_DMA=y
CONFIG_16550_UART1_IRQ=31
CONFIG_16550_UART1=y
CONFIG_16550_UART=y
CONFIG_ALARM_ARCH=y
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM_SONG=y
CONFIG_ARCH_BOARD="song/u2"
CONFIG_ARCH_BOARD_SONG=y
CONFIG_ARCH_BOARD_U2=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_CHIP_U2_AP=y
CONFIG_ARCH_HIPRI_INTERRUPT=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARM_MPU=y
CONFIG_ARMV7M_LAZYFPU=y
CONFIG_ARMV7M_MEMCPY=y
CONFIG_ARMV7M_SYSTICK=y
CONFIG_BOARD_ASSERT_RESET_VALUE=1
CONFIG_BOARDCTL_FINALINIT=y
CONFIG_BOARDCTL_RESET=y
CONFIG_BOARD_RESET_ON_ASSERT=2
CONFIG_BOOT_RUNFROMISRAM=y
CONFIG_BT_CONTROLLER_TTYDEV="/dev/pty0"
CONFIG_BT_CONTROLLER=y
CONFIG_BT_HOST=y
CONFIG_BT_MANAGER=y
CONFIG_BUILTIN=y
CONFIG_CLK_RPMSG=y
CONFIG_CLK=y
CONFIG_CLOCK_MONOTONIC=y
CONFIG_DEBUG_FULLOPT=y
CONFIG_DEBUG_HARDFAULT_ALERT=y
CONFIG_DEBUG_MEMFAULT=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DMA=y
# CONFIG_DRVR_READBYTES is not set
CONFIG_DRVR_WRDELAY=0
CONFIG_DRVR_WRITEBUFFER=y
CONFIG_FS_HOSTFS_RPMSG_SERVER=y
CONFIG_FS_LITTLEFS=y
# CONFIG_FS_PROCFS_EXCLUDE_ENVIRON is not set
CONFIG_FS_PROCFS=y
CONFIG_FS_ROMFS=y
CONFIG_FTL_WRITEBUFFER=y
CONFIG_GD25_SPIFREQUENCY=5000000
CONFIG_HAVE_POSIX_FILE_IO=y
CONFIG_HEAP_COLORATION=y
CONFIG_HOSTNAME="ap"
CONFIG_I2C_DRIVER=y
CONFIG_I2C_DW=y
CONFIG_I2C=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_IOEXPANDER_MULTIPIN=y
CONFIG_IOEXPANDER_NPINS=64
CONFIG_IOEXPANDER=y
CONFIG_IRQCHAIN=y
CONFIG_LE_DEVICE_DB_FILE=y
CONFIG_LINK_KEY_DB_STORAGE_FILE=y
CONFIG_MBOX=y
CONFIG_MEMSET_OPTSPEED=y
CONFIG_MM_REGIONS=2
CONFIG_MQ_MAXMSGSIZE=512
CONFIG_MTD_BYTE_WRITE=y
CONFIG_MTD_GD25=y
CONFIG_MTD_PARTITION_NAMES=y
CONFIG_MTD_PARTITION=y
CONFIG_MTD=y
CONFIG_NAME_MAX=64
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_ARCHROMFS=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_LINELEN=128
CONFIG_NSH_PROMPT_STRING="ap> "
CONFIG_NSH_READLINE=y
CONFIG_NSH_ROMFSETC=y
CONFIG_ONESHOT_SONG=y
CONFIG_ONESHOT=y
CONFIG_OPENAMP=y
CONFIG_PM=y
CONFIG_PSEUDOFS_SOFTLINKS=y
CONFIG_PSEUDOTERM_BSD=y
CONFIG_PSEUDOTERM_RXBUFSIZE=4096
CONFIG_PSEUDOTERM_TXBUFSIZE=2048
CONFIG_PSEUDOTERM=y
CONFIG_PTABLE_PARTITION=y
CONFIG_PTHREAD_CLEANUP_STACKSIZE=2
CONFIG_PTHREAD_CLEANUP=y
CONFIG_PWM_SONG=y
CONFIG_PWM=y
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_REGULATOR=y
CONFIG_RPMSG_UART=y
CONFIG_RPTUN=y
CONFIG_SCHED_CHILD_STATUS=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_IRQMONITOR=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SERIAL_IFLOWCONTROL_WATERMARKS=y
CONFIG_SERIAL_TERMIOS=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_SIG_DEFAULT=y
CONFIG_SIG_EVTHREAD=y
CONFIG_SONG_CLK=y
CONFIG_SONG_DMAS=y
CONFIG_SONG_IOE=y
CONFIG_SONG_MBOX=y
CONFIG_SONG_NR_IRQS=39
CONFIG_SONG_PMIC_I2C=y
CONFIG_SONG_RPTUN=y
CONFIG_SPI_DRIVER=y
CONFIG_SPI_DW=y
CONFIG_STACK_COLORATION=y
CONFIG_SYSLOG_BUFFER=y
CONFIG_SYSLOG_CHARDEV=y
CONFIG_SYSLOG_INTBUFFER=y
CONFIG_SYSLOG_PREFIX_STRING="ap: "
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_RPMSG_SERVER=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_CUTERM_DEFAULT_DEVICE="/dev/ttyADSP"
CONFIG_SYSTEM_CUTERM_PRIORITY=200
CONFIG_SYSTEM_CUTERM=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_SYSTEM=y
CONFIG_SYSTEM_TIME64=y
CONFIG_SYSTEM_ZMODEM_MOUNTPOINT="/data"
CONFIG_SYSTEM_ZMODEM=y
CONFIG_TIMER=y
CONFIG_TTY_SIGINT=y
CONFIG_USER_ENTRYPOINT="nsh_main"
CONFIG_VIRTUAL_UART_DEVICE="/dev/ttyp0"
CONFIG_WATCHDOG_AUTOMONITOR_BY_IDLE=y
CONFIG_WATCHDOG_AUTOMONITOR=y
CONFIG_WATCHDOG_DW=y
CONFIG_WATCHDOG=y
