CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_UART2_BASE=0xb00c0000
CONFIG_16550_UART2_BAUD=3000000
CONFIG_16550_UART2_CLOCK=48000000
CONFIG_16550_UART2_IRQ=23
CONFIG_16550_UART2=y
CONFIG_16550_UART=y
CONFIG_ALARM_ARCH=y
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM_SONG=y
CONFIG_ARCH_BOARD="song/u1"
CONFIG_ARCH_BOARD_SONG=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_CHIP_U1_CP=y
CONFIG_ARCH_RAMVECTORS=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARM_MPU=y
CONFIG_ARMV7M_MEMCPY=y
CONFIG_ARMV7M_SYSTICK=y
CONFIG_ARMV7M_USEBASEPRI=y
CONFIG_BOARDCTL_FINALINIT=y
CONFIG_BOARD_INITIALIZE=y
CONFIG_BOARD_INITTHREAD=y
CONFIG_BUILTIN=y
CONFIG_CLK_RPMSG=y
CONFIG_CLK=y
CONFIG_CLOCK_MONOTONIC=y
CONFIG_CMSIS=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_HARDFAULT=y
# CONFIG_DEV_NULL is not set
CONFIG_DMA=y
CONFIG_EARLY_STACKSIZE=256
CONFIG_EXAMPLES_NSH=y
CONFIG_FS_HOSTFS_RPMSG=y
CONFIG_FS_HOSTFS=y
CONFIG_FS_PROCFS=y
CONFIG_FS_ROMFS=y
CONFIG_HEAP_COLORATION=y
CONFIG_IOEXPANDER_MULTIPIN=y
CONFIG_IOEXPANDER_NPINS=48
CONFIG_IOEXPANDER=y
CONFIG_IRQCHAIN=y
CONFIG_MBOX=y
CONFIG_MEMSET_OPTSPEED=y
CONFIG_NBIOT_MODEM=y
CONFIG_NSH_ARCHROMFS=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_LINELEN=128
CONFIG_NSH_PROMPT_STRING="cp> "
CONFIG_NSH_READLINE=y
CONFIG_NSH_ROMFSETC=y
CONFIG_ONESHOT_SONG=y
CONFIG_ONESHOT=y
CONFIG_OPENAMP=y
CONFIG_PM_IDLEENTER_COUNT=1
CONFIG_PM_SLEEPENTER_COUNT=1
CONFIG_PM_SLICEMS=1
CONFIG_PM_STANDBYENTER_COUNT=1
CONFIG_PM=y
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_RPMSG_REGULATOR_CLIENT=y
CONFIG_RPMSG_REGULATOR=y
CONFIG_RPMSG_UART=y
CONFIG_RPTUN=y
CONFIG_RTC_ALARM=y
CONFIG_RTC_ARCH=y
CONFIG_RTC_DATETIME=y
CONFIG_RTC_DRIVER=y
CONFIG_RTC_SONG=y
CONFIG_RTC=y
CONFIG_SCHED_CHILD_STATUS=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_IRQMONITOR=y
CONFIG_SCHED_LPWORK=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL_IFLOWCONTROL_WATERMARKS=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_SIG_SIGKILL=y
CONFIG_SONG_CLK=y
CONFIG_SONG_DMAS=y
CONFIG_SONG_ICACHE_BASE=0xb0030040
CONFIG_SONG_IOE=y
CONFIG_SONG_MBOX=y
CONFIG_SONG_NR_IRQS=44
CONFIG_SONG_RPTUN=y
CONFIG_STACK_COLORATION=y
CONFIG_SYSLOG_PREFIX_STRING="cp: "
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_TIME64=y
CONFIG_TIMER=y
CONFIG_U1_CP=y
CONFIG_USER_ENTRYPOINT="nsh_main"
CONFIG_WATCHDOG_DW=y
CONFIG_WATCHDOG=y
