CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_SERIAL_DISABLE_REORDERING=y
CONFIG_16550_UART3_BASE=0xE100B000
CONFIG_16550_UART3_CLOCK=1843200
CONFIG_16550_UART3_DMA_RX=11
CONFIG_16550_UART3_DMA_TX=3
CONFIG_16550_UART3_DMA=y
CONFIG_16550_UART3_IRQ=54
CONFIG_16550_UART3_SERIAL_CONSOLE=y
CONFIG_16550_UART3=y
CONFIG_16550_UART=y
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM_SONG=y
CONFIG_ARCH_BOARD_BANKS=y
CONFIG_ARCH_BOARD="song/banks"
CONFIG_ARCH_BOARD_SONG=y
CONFIG_ARCH_CHIP_BANKS_CP=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_LOWVECTORS=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARM_SEMIHOSTING_HOSTFS=y
CONFIG_BANKS_CP=y
CONFIG_BOARDCTL_FINALINIT=y
CONFIG_BOOT_RUNFROMSDRAM=y
CONFIG_BUILTIN=y
CONFIG_CLK=y
CONFIG_CLOCK_MONOTONIC=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DMA=y
CONFIG_EXPERIMENTAL=y
CONFIG_FS_HOSTFS=y
# CONFIG_FS_PROCFS_EXCLUDE_ENVIRON is not set
CONFIG_FS_PROCFS=y
CONFIG_FS_ROMFS=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_IRQCHAIN=y
CONFIG_LIB_HOSTNAME="cp"
CONFIG_MEMSET_OPTSPEED=y
CONFIG_NETUTILS_CODECS=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_ARCHROMFS=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_LINELEN=128
CONFIG_NSH_PROMPT_STRING="cp> "
CONFIG_NSH_READLINE=y
CONFIG_NSH_ROMFSETC=y
CONFIG_PSEUDOFS_SOFTLINKS=y
CONFIG_PSEUDOTERM_BSD=y
CONFIG_PSEUDOTERM=y
CONFIG_PTHREAD_CLEANUP_STACKSIZE=2
CONFIG_PTHREAD_CLEANUP=y
CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_RAM_SIZE=2147483648
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_SCHED_CHILD_STATUS=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_IRQMONITOR=y
CONFIG_SCHED_LPWORK=y
CONFIG_SERIAL_TERMIOS=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_SIG_DEFAULT=y
CONFIG_SIG_EVTHREAD=y
CONFIG_SIMPLE_ADDRENV=y
CONFIG_SONG_CLK=y
CONFIG_SONG_DMAS=y
CONFIG_SONG_GIC_VBASE=0x80020000
CONFIG_SONG_NR_IRQS=63
CONFIG_SONG_PGTABLE_START=0x6400000
CONFIG_STACK_COLORATION=y
CONFIG_SYSLOG_BUFFER=y
CONFIG_SYSLOG_CHARDEV=y
CONFIG_SYSLOG_PREFIX_STRING="cp: "
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_SYSTEM=y
CONFIG_SYSTEM_TIME64=y
CONFIG_TIMER_ARCH=y
CONFIG_TIMER_DW=y
CONFIG_TIMER=y
CONFIG_TTY_SIGINT=y
CONFIG_USER_ENTRYPOINT="nsh_main"
