#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

choice
	prompt "Select target application"

config U2_AP
	bool "U2 AP"

config U2_AUDIO
	bool "U2 Audio"

config U2_CK
	bool "U2 CK"

config U2_M4
	bool "U2 M4"

endchoice
